<tui-scrollbar waIntersectionRoot [hidden]="true">
<table tuiTable class="table" [columns]="columns">
  <thead class="">
    <tr tuiThGroup>
      <th tuiTh *tuiHead="'id'">№</th>
      <th tuiTh *tuiHead="'name'">Название</th>
      <th tuiTh *tuiHead="'address'">Адрес</th>
      <th tuiTh *tuiHead="'phoneNumber'">Номер телефона</th>
      <th tuiTh *tuiHead="'email'">Почта</th>
      <th tuiTh *tuiHead="'actions'" [sorter]="null"></th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="data">
    <tr
      *ngFor="
        let item of data | search : publisherService.search;
        let i = index
      "
      tuiTr
      [class.tr_changed]="isChangeItem(item)"
    >
      <td *tuiCell="'id'" tuiTd>{{ item.id != undefined?i + 1:''}}</td>

      <td *tuiCell="'name'" tuiTd>
        <tui-text-area
          class="textarea"
          [expandable]="true"
          [(ngModel)]="item.name"
          (ngModelChange)="onValueChange(item)"
        ></tui-text-area>
      </td>

      <td *tuiCell="'address'" tuiTd>
        <tui-text-area
          class="textarea"
          [expandable]="true"
          [(ngModel)]="item.address"
          (ngModelChange)="onValueChange(item)"
        ></tui-text-area>
      </td>

      <td *tuiCell="'phoneNumber'" tuiTd>
        <tui-input-phone
          class="textarea"
          [(ngModel)]="item.phoneNumber"
          (ngModelChange)="onValueChange(item)"
        >
          <input tuiTextfield autocomplete="tel"
        /></tui-input-phone>
      </td>

      <td *tuiCell="'email'" tuiTd>
        <tui-input
          class="textarea"
          [(ngModel)]="item.email"
          (ngModelChange)="onValueChange(item)"
        >
          <input tuiTextfield type="email"
        /></tui-input>
      </td>

      <td *tuiCell="'actions'" tuiTd class="actions">
        <button
          tuiIconButton
          size="s"
          appearance="primary"
          icon="tuiIconSave"
          *ngIf="item.id == undefined"
          (click)="save(item)"
        ></button>

        <tui-hosted-dropdown [content]="actionsContent" *ngIf="item.id !== undefined">
          <button
            tuiIconButton
            size="s"
            appearance="accent"
            icon="tuiIconMoreVertical"

          ></button>
        </tui-hosted-dropdown>
        <ng-template #actionsContent>
          <tui-data-list role="menu">
            <tui-opt-group>
              <button tuiOption (click)="update(item)">
                Сохранить
                <tui-svg src="tuiIconSave"></tui-svg>
              </button>
              <button tuiOption (click)="delete(item)">
                Удалить
                <tui-svg src="tuiIconTrash2"></tui-svg>
              </button>
            </tui-opt-group>
          </tui-data-list>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
</tui-scrollbar>
