<table tuiTable class="table" [columns]="columns">
  <thead class="">
    <tr tuiThGroup>
      <th tuiTh *tuiHead="'id'">№</th>
      <th tuiTh *tuiHead="'name'">Название</th>
      <th tuiTh *tuiHead="'address'">Адрес</th>
      <th tuiTh *tuiHead="'email'">Почта</th>
      <th tuiTh *tuiHead="'phoneNumber'">Телефон</th>
      <th tuiTh *tuiHead="'actions'"></th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="data">
    <tr *ngFor="let item of data; let i = index" tuiTr>

      <td *tuiCell="'id'" tuiTd>{{ i + 1 }}</td>

      <td *tuiCell="'name'" tuiTd>
        <tui-text-area
          class="textarea"
          [expandable]="true"
          class="textarea"
          [ngModel]="item.name"
        ></tui-text-area>
      </td>

      <td *tuiCell="'address'" tuiTd>
        <tui-text-area
          class="textarea"
          [expandable]="true"
          class="textarea"
          [ngModel]="item.address"
        ></tui-text-area>
      </td>

      <td *tuiCell="'email'" tuiTd>
        <tui-text-area
          class="textarea"
          [expandable]="true"
          class="textarea"
          [ngModel]="item.email"
        ></tui-text-area>
      </td>

      <td *tuiCell="'phoneNumber'" tuiTd>
        <tui-text-area
          class="textarea"
          [expandable]="true"
          class="textarea"
          [ngModel]="item.phoneNumber"
        ></tui-text-area>
      </td>

      <td *tuiCell="'actions'" tuiTd class="actions">
        <button
          tuiIconButton
          icon="tuiIconCloseLarge"
          appearance="icon"
          shape="rounded"
          size="s"
        ></button>
        <button
          tuiIconButton
          icon="tuiIconSave"
          appearance="flat"
          shape="rounded"
          size="s"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
