<table tuiTable class="table" [columns]="columns">
  <thead class="">
    <tr tuiThGroup>
      <th tuiTh *tuiHead="'id'">№</th>
      <th tuiTh *tuiHead="'firstName'">Имя</th>
      <th tuiTh *tuiHead="'lastName'">Фамилия</th>
      <th tuiTh *tuiHead="'middleName'">Отчество</th>
      <th tuiTh *tuiHead="'country'">Страна</th>
      <th tuiTh *tuiHead="'birthday'">День рождения</th>
      <th tuiTh *tuiHead="'actions'" [sorter]="null"></th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="data">
    <tr
      *ngFor="let item of data | search:authorService.search; let i = index"
      tuiTr
      [class.tr_changed]="isChangeItem(item)"
    >
      <td *tuiCell="'id'" tuiTd>{{ i + 1 }}</td>

      <td *tuiCell="'firstName'" tuiTd>
        <tui-text-area
          class="textarea"
          [expandable]="true"
          [(ngModel)]="item.firstName"
          (ngModelChange)="onValueChange(item)"
        ></tui-text-area>
      </td>
      <td *tuiCell="'lastName'" tuiTd>
        <tui-text-area
          class="textarea"
          [expandable]="true"
          [(ngModel)]="item.lastName"
          (ngModelChange)="onValueChange(item)"
        ></tui-text-area>
      </td>

      <td *tuiCell="'middleName'" tuiTd>
        <tui-text-area
          class="textarea"
          [expandable]="true"
          [(ngModel)]="item.middleName"
          (ngModelChange)="onValueChange(item)"

        ></tui-text-area>
      </td>

      <td *tuiCell="'country'" tuiTd>
        <tui-text-area
          class="textarea"
          [expandable]="true"
          [(ngModel)]="item.country"
          (ngModelChange)="onValueChange(item)"

        ></tui-text-area>
      </td>

      <td *tuiCell="'birthday'" tuiTd>
        <tui-input-date
          toNativeDate
          class="textarea"
          [(ngModel)]="item.birthday"
          (ngModelChange)="onValueChange(item)"

        ></tui-input-date>
      </td>

      <td *tuiCell="'actions'" tuiTd class="actions">
        <button
          tuiIconButton
          icon="tuiIconCloseLarge"
          appearance="icon"
          shape="rounded"
          size="s"
          class="action-btn"
          [style.visibility]="item.id !== undefined?'visible':'hidden'"
          (click)="delete(item)"
        ></button>
        <button
          tuiIconButton
          icon="tuiIconSave"
          appearance="flat"
          shape="rounded"
          size="s"
          class="action-btn"
          (click)="save(item)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
