<div class="tui-container tui-container_adaptive">
  <div class="tui-row tui-row_align_center tui-row_adaptive">
    <div class="tui-col_6 tui-col-offset_3">
      <tui-island class="island tui-space_top-5">
        <form class="tui-form" [formGroup]="form" (ngSubmit)="submit()">
          <h4 class="tui-form__header tui-island_text-align_center">
            Регистрация
          </h4>
          <div class="tui-form__row">
            <tui-input formControlName="username">
              Логин
              <input tuiTextfield type="text" />
            </tui-input>
          </div>
          <div class="tui-form__row">
            <tui-input formControlName="password">
              Пароль
              <input tuiTextfield />
            </tui-input>
          </div>

          <div class="tui-form__row">
            <tui-input formControlName="lastName">
              Фамилия
              <input tuiTextfield type="text" />
            </tui-input>
          </div>

          <div class="tui-form__row">
            <tui-input formControlName="firstName">
              Имя
              <input tuiTextfield type="text" />
            </tui-input>
          </div>

          <div class="tui-form__row">
            <tui-input formControlName="middleName">
              Отчество
              <input tuiTextfield type="text" />
            </tui-input>
          </div>

          <div class="tui-form__row">
            <label tuiLabel="Пол">
              <div
                tuiGroup
                class="tui-form__row"
                [adaptive]="true"
                [collapsed]="true"
              >
                <tui-radio-block
                  contentAlign="right"
                  formControlName="genderType"
                  [item]="GenderType.MALE"
                  [hideRadio]="true"
                >
                  Мужской
                </tui-radio-block>
                <tui-radio-block
                  contentAlign="right"
                  formControlName="genderType"
                  [item]="GenderType.FEMALE"
                  [hideRadio]="true"
                >
                  Женский
                </tui-radio-block>
              </div>
            </label>
          </div>

          <div class="tui-form__row">
            <tui-input-date toNativeDate formControlName="birthday">
              День рождения
            </tui-input-date>
          </div>

          <div class="tui-form__row">
            <tui-input formControlName="address">
              Место проживания
              <input tuiTextfield type="text" />
            </tui-input>
          </div>

          <div class="tui-form__row">
            <tui-input-phone formControlName="phoneNumber">
              Номер телефона
              <input tuiTextfield autocomplete="tel" />
            </tui-input-phone>
          </div>

          <div class="tui-form__row">
            <tui-input formControlName="email">
              Электронная почта
              <input tuiTextfield type="email" />
            </tui-input>
          </div>

          <div class="tui-form__buttons">
            <button
              tuiButton
              type="submit"
              class="tui-form__button"
              class="register"
              [disabled]="form.invalid"
            >
              Зарегистрироваться
            </button>
          </div>
        </form>
      </tui-island>
    </div>
  </div>
</div>
