@import "@taiga-ui/core/styles/taiga-ui-local.scss";

:host {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.side {
  padding: 1.5rem;
  padding-right: 0;
  min-width: 10rem;
  width: 10rem;

}

.side__link {
  margin-bottom: 2rem !important;
}

.side__btn {
  margin-right: 2rem !important;
  margin-top: 2rem;
}

.content {
  background-color: var(--tui-base-02);
  width: calc(100% - 10rem - 1.5rem);
  max-width: calc(100% - 10rem - 1.5rem);
  position: relative;

}

.publishers-list-tab {
  width: 100%;
  max-width: 100%;
  position: relative;

}

.flat-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.tools-block {
  margin: 1em;
}
