<div class="left-group">
	<button
		tuiButton
		appearance="mono"
		size="m"
		[routerLink]="['/administrator']"
		routerLinkActive="router-link-active"
		*ngIf="sessionService.isLoggedIn && sessionService.role === Role.ADMIN"
	>
		Администрирование
	</button>
	<button
		tuiButton
		appearance="mono"
		size="m"
		[routerLink]="['/manager']"
		routerLinkActive="router-link-active"
		*ngIf="sessionService.isLoggedIn && sessionService.role !== Role.USER"
	>
		Учет
	</button>
	<button
		tuiButton
		appearance="mono"
		size="m"
		[routerLink]="['/dashboard']"
		routerLinkActive="router-link-active"
		*ngIf="sessionService.isLoggedIn && sessionService.role === Role.USER"
	>
		Профиль
	</button>
	<button
		tuiButton
		appearance="mono"
		size="m"
		[routerLink]="['/books']"
		routerLinkActive="router-link-active"
		*ngIf="sessionService.isLoggedIn"
	>
		Книги
	</button>
	<!-- <button
		tuiButton
		appearance="mono"
		size="m"
		[routerLink]="['/help']"
		routerLinkActive="router-link-active"
		*ngIf="sessionService.isLoggedIn"
	>
		Справка
	</button> -->
</div>
<div class="right-group">
	<button
		tuiButton
		appearance="whiteblock-active"
		size="m"
		(click)="sessionService.logout()"
		*ngIf="sessionService.isLoggedIn"
	>
		Выход
	</button>
	<button
		tuiIconButton
		icon="tuiIconMoonLarge"
		shape="rounded"
		appearance="mono"
		(click)="themeService.changeDark()"
	></button>
</div>
