<tui-scrollbar waIntersectionRoot class="content" [hidden]="true">
	<table tuiTable class="table" [columns]="columns">
		<thead tuiThead>
			<tr tuiThGroup>
				<th tuiTh *tuiHead="'id'">№</th>
				<th tuiTh *tuiHead="'index'">Идентификатор</th>
				<th tuiTh *tuiHead="'name'">Название</th>
				<th tuiTh *tuiHead="'description'">Описание</th>
				<th tuiTh *tuiHead="'edition'">Издание</th>
				<th tuiTh *tuiHead="'editionYear'">Год издания</th>
				<th tuiTh *tuiHead="'ISBN'">ISBN</th>
				<th tuiTh *tuiHead="'pageCount'">Кол-во страниц</th>
				<th tuiTh *tuiHead="'instanceCount'">Кол-во экземпляров</th>
				<th tuiTh *tuiHead="'issuedCount'">Кол-во на руках</th>
				<th tuiTh *tuiHead="'publisher'">Издательство</th>
				<th tuiTh *tuiHead="'authors'">Авторы</th>
				<th tuiTh *tuiHead="'genres'">Жанры</th>
				<th tuiTh *tuiHead="'actions'" [sorter]="null"></th>
			</tr>
		</thead>
		<tbody tuiTbody [data]="data">
			<tr
				*ngFor="let element of data | search : bookService.search; let i = index"
				tuiTr
				[class.tr_changed]="isChangeItem(element)"
				[style.display]="element.id == undefined && sessionService.role == Role.USER ? 'none' : ''"
			>
				<td *tuiCell="'id'" tuiTd>
					{{ element.id != undefined ? i + 1 : '' }}
				</td>

				<td *tuiCell="'index'" tuiTd>
					{{ element.id != undefined ? element.id : '' }}
				</td>

				<td *tuiCell="'name'" tuiTd>
					<tui-text-area
						class="textarea"
						[(ngModel)]="element.name"
						(ngModelChange)="onValueChange(element)"
					></tui-text-area>
				</td>

				<td *tuiCell="'description'" tuiTd>
					<tui-text-area
						class="textarea"
						[expandable]="true"
						[(ngModel)]="element.description"
						(ngModelChange)="onValueChange(element)"
					></tui-text-area>
				</td>

				<td *tuiCell="'edition'" tuiTd>
					<tui-input-number
						[(ngModel)]="element.edition"
						(ngModelChange)="onValueChange(element)"
						class="textarea"
					></tui-input-number>
				</td>

				<td *tuiCell="'editionYear'" tuiTd>
					<tui-input-number
						[(ngModel)]="element.editionYear"
						(ngModelChange)="onValueChange(element)"
						class="textarea"
					></tui-input-number>
				</td>

				<td *tuiCell="'ISBN'" tuiTd>
					<tui-text-area
						class="textarea"
						[expandable]="true"
						[(ngModel)]="element.isbn"
						(ngModelChange)="onValueChange(element)"
					></tui-text-area>
				</td>

				<td *tuiCell="'pageCount'" tuiTd>
					<tui-input-number
						[(ngModel)]="element.pageCount"
						(ngModelChange)="onValueChange(element)"
						class="textarea"
					></tui-input-number>
				</td>
				<td *tuiCell="'instanceCount'" tuiTd>
					<tui-input-number
						[(ngModel)]="element.instanceCount"
						(ngModelChange)="onValueChange(element)"
						class="textarea"
					></tui-input-number>
				</td>
				<td *tuiCell="'issuedCount'" tuiTd>
					<tui-input-number
						[(ngModel)]="element.issuedCount"
						(ngModelChange)="onValueChange(element)"
						class="textarea"
					></tui-input-number>
				</td>

				<td *tuiCell="'publisher'" tuiTd class="select">
					<tui-select
						[(ngModel)]="element.publisher"
						(ngModelChange)="onValueChange(element)"
						class="textarea"
						[valueContent]="element.publisher!.name || ''"
						class="select"
					>
						<ng-template tuiDataList>
							<tui-data-list>
								<button *ngFor="let publisher of publishers" tuiOption [value]="publisher">
									{{ publisher.name }}
								</button>
							</tui-data-list>
						</ng-template>
					</tui-select>
				</td>

				<td *tuiCell="'authors'" tuiTd>
					<tui-tag
						*ngFor="let author of element.authors; let index = index"
						size="l"
						status="custom"
						class="tag"
						[value]="author.lastName + ' ' + author.firstName + ' ' + author.middleName"
						[hoverable]="true"
						[removable]="element.id != undefined && sessionService.role != Role.USER"
						(edited)="deleteAuthor($event, index, element)"
					></tui-tag>
					<tui-hosted-dropdown
						[content]="authorsContent"
						*ngIf="element.id != undefined && sessionService.role != Role.USER"
					>
						<a tuiTag size="l" status="primary" value="+" [hoverable]="true"></a>
					</tui-hosted-dropdown>
					<ng-template #authorsContent>
						<tui-data-list role="menu">
							<button tuiOption (click)="isOpenAddAuthorDialog = true" class="add-author-btn">
								Добавить через идентификатор
							</button>
							<button
								*ngFor="let author of bookService.authors"
								tuiOption
								(click)="addAuthor(author, element)"
							>
								{{
									author.id +
										' ' +
										author.firstName +
										' ' +
										author.lastName +
										' ' +
										author.middleName
								}}
							</button>
						</tui-data-list>
					</ng-template>
				</td>

				<td *tuiCell="'genres'" tuiTd>
					<tui-tag
						*ngFor="let genre of element.genres; let index = index"
						size="l"
						status="custom"
						class="tag"
						[value]="genre.name || ''"
						[hoverable]="true"
						[removable]="element.id != undefined && sessionService.role != Role.USER"
						(edited)="deleteGenre($event, index, element)"
					></tui-tag>
					<tui-hosted-dropdown
						[content]="genresContent"
						*ngIf="element.id != undefined && sessionService.role != Role.USER"
					>
						<a tuiTag size="l" status="primary" value="+" [hoverable]="true"></a>
					</tui-hosted-dropdown>
					<ng-template #genresContent>
						<tui-data-list role="menu">
							<button
								*ngFor="let genre of bookService.genres"
								tuiOption
								(click)="addGenre(genre, element)"
							>
								{{ genre.name }}
							</button>
						</tui-data-list>
					</ng-template>
				</td>

				<td *tuiCell="'actions'" tuiTd class="actions">
					<button
						tuiIconButton
						size="s"
						appearance="primary"
						icon="tuiIconSave"
						*ngIf="element.id == undefined"
						(click)="save(element)"
					></button>

					<tui-hosted-dropdown [content]="actionsContent" *ngIf="element.id !== undefined">
						<button tuiIconButton size="s" appearance="accent" icon="tuiIconMoreVertical"></button>
					</tui-hosted-dropdown>
					<ng-template #actionsContent>
						<tui-data-list role="menu">
							<tui-opt-group>
								<button tuiOption (click)="update(element)">
									Редактировать
									<tui-svg src="tuiIconSave"></tui-svg>
								</button>
								<button tuiOption (click)="delete(element)">
									Удалить
									<tui-svg src="tuiIconTrash2"></tui-svg>
								</button>
							</tui-opt-group>
							<tui-opt-group>
								<button tuiOption (click)="isOpenLostBookDialog = true">
									Удалить экземпляр
									<tui-svg src="tuiIconMinus"></tui-svg>
								</button>
								<button tuiOption (click)="isOpenAddBookDialog = true">
									Добавить экземпляр
									<tui-svg src="tuiIconPlus"></tui-svg>
								</button>
								<button tuiOption (click)="isOpenTakeBookDialog = true">
									Выдать книгу
									<tui-svg src="tuiIconUserCheck"></tui-svg>
								</button>
							</tui-opt-group>
							<tui-opt-group>
								<button tuiOption>Просмотреть оплаты</button>
								<button tuiOption>Просмотреть добавления</button>
								<button tuiOption>Просмотреть потери</button>
								<button tuiOption>Просмотреть выдачи</button>
							</tui-opt-group>
						</tui-data-list>
					</ng-template>
				</td>
			</tr>
		</tbody>
	</table>
</tui-scrollbar>
<ng-template
	let-observer
	[tuiDialogOptions]="{
		label: 'Добавить автора для книги',
		size: 's'
	}"
	[(tuiDialog)]="isOpenAddAuthorDialog"
>
	<form>
		<div class="tui-form__row">
			<tui-input-number tuiAutoFocus name="example1"> Идентификатор автора </tui-input-number>
		</div>

		<div class="tui-form__buttons tui-form__buttons_align_end">
			<button tuiButton type="submit" (click)="isOpenAddAuthorDialog = false">
				Добавить автора
			</button>
		</div>
	</form>
</ng-template>

<ng-template
	let-observer
	[tuiDialogOptions]="{
		label: 'Выдать книгу пользователю',
		size: 's'
	}"
	[(tuiDialog)]="isOpenTakeBookDialog"
>
	<form>
		<div class="tui-form__row">
			<tui-input-number tuiAutoFocus name="example1"> Идентификатор формуляра </tui-input-number>
		</div>

		<div class="tui-form__buttons tui-form__buttons_align_end">
			<button tuiButton type="submit" (click)="isOpenTakeBookDialog = false">Выдать книгу</button>
		</div>
	</form>
</ng-template>

<ng-template
	let-observer
	[tuiDialogOptions]="{
		label: 'Внести удаление книги',
		size: 's'
	}"
	[(tuiDialog)]="isOpenLostBookDialog"
>
	<form>
		<div class="tui-form__row">
			<tui-input-number tuiAutoFocus name="example1"> Идентификатор книги </tui-input-number>
		</div>

		<div class="tui-form__row">
			<tui-input-number tuiAutoFocus name="example1"> Количество </tui-input-number>
		</div>

		<div class="tui-form__row">
			<tui-input tuiAutoFocus name="example1"> Причина </tui-input>
		</div>

		<div class="tui-form__buttons tui-form__buttons_align_end">
			<button tuiButton type="submit" (click)="isOpenLostBookDialog = false">
				Удалить книгу(и)
			</button>
		</div>
	</form>
</ng-template>

<ng-template
	let-observer
	[tuiDialogOptions]="{
		label: 'Внести добавление книги',
		size: 's'
	}"
	[(tuiDialog)]="isOpenAddBookDialog"
>
	<form>
		<div class="tui-form__row">
			<tui-input-number tuiAutoFocus name="example1"> Идентификатор книги </tui-input-number>
		</div>

		<div class="tui-form__row">
			<tui-input-number tuiAutoFocus name="example1"> Количество </tui-input-number>
		</div>

		<div class="tui-form__row">
			<tui-input tuiAutoFocus name="example1"> Причина </tui-input>
		</div>

		<div class="tui-form__buttons tui-form__buttons_align_end">
			<button tuiButton type="submit" (click)="isOpenAddBookDialog = false">
				Добавить книгу(и)
			</button>
		</div>
	</form>
</ng-template>

<!-- <ng-template
let-observer
[tuiDialogOptions]="{
  label: open
    ? 'Выдать книгу пользователю'
    : 'Забрать книгу у пользователя ',
  size: 's'
}"
[(tuiDialog)]="open || open1"
>
<form>
  <p>
    <tui-input tuiAutoFocus formControlName="exampleControl">
      № Формуляра
    </tui-input>
  </p>
  <p>
    <tui-input tuiAutoFocus formControlName="exampleControl">
      № Книги
    </tui-input>
  </p>

  <p>
    <button tuiButton type="submit">
      {{ open ? "Выдать книгу" : "Забрать книгу" }}
    </button>
  </p>
</form>
</ng-template> -->
