@import '@taiga-ui/core/styles/taiga-ui-local.scss';

:host{
  max-width: 100%;
  width: 100%;
}

content{
  max-width: 100%;
  width: 100%;
}

.table {
  table-layout: fixed;

}

.actions{
  width: 6rem;
}

.textarea {
  min-height: var(--tui-height-l);
}


td,
th {
    white-space: nowrap;
    border-color: transparent;
    border-right-color: var(--tui-base-04);

    &:last-child {
        border-right-color: transparent;
    }
}

th{
  border-bottom-color: var(--tui-base-04);
}

tbody {
    border-color: transparent;
}

tr:nth-child(even):not(.tr_changed) {

  >td{
    background: var(--tui-base-03);
  }

}

// tr:nth-child(even) {

//   >td{
//     background: var(--tui-base-05);
//   }
// }


.action-btn {
  width: 100%;
    display: block;
    @include transition(opacity);
    opacity: 0;

    tr:hover &,
    tr:focus-within & {
        opacity: 1;
    }
}

.tr_changed {
  td{background: var(--tui-warning-bg);}
}


.select{
  width: 10rem;
  min-width: 10rem;
}

.tag {
  @include gradient(#2d96ff, #ff5011, 60deg);
  color: var(--tui-text-01-night);
  margin: 0.25rem;
}

.add-author-btn{
  background-color: var(--tui-primary);
}
